MDP_Projekat_22/src/main/webapp/wsdl/TestSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.test.mdp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.test.mdp" xmlns:intf="http://soap.test.mdp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.test.mdp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reverse">
    <complexType>
     <sequence>
      <element name="str" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reverseResponse">
    <complexType>
     <sequence>
      <element name="reverseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="reverseRequest">

      <wsdl:part element="impl:reverse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reverseResponse">

      <wsdl:part element="impl:reverseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestSoapService">

      <wsdl:operation name="reverse">

         <wsdl:input message="impl:reverseRequest" name="reverseRequest">

       </wsdl:input>

         <wsdl:output message="impl:reverseResponse" name="reverseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestSoapServiceSoapBinding" type="impl:TestSoapService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reverse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reverseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reverseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestSoapServiceService">

      <wsdl:port binding="impl:TestSoapServiceSoapBinding" name="TestSoapService">

         <wsdlsoap:address location="http://localhost:8080/MDP_Projekat_22/services/TestSoapService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
